* {
  margin: 0;
}
h1 {
  place-items: center;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: rgb(168, 173, 182);
  display: grid;
  place-items: center;
}

.app_container {
  height: 80vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px, 5px;
}

.app_todocontainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
